.st-font {
    font-family: 'Satisfy', cursive;
    font-family: 'Tinos', serif;
}
html,
body {
    height: 100%;
}
.container-fluid {
    min-height: 100%;
}
.i-color {
    color: greenyellow;
}
a.nav-link {
    color: whitesmoke;
}
a.nav-link:hover {
    background-color:lightgoldenrodyellow;
    color: black;
}
a.nav-link.active {
    color: black;
    background-color: yellow;
    font-weight: bold;
}
